{% extends "twodays/base.html" %}

{% block header %}
	<ul class="nav td-tabbar">
		<li class="nav-item">
			<a class="nav-link td-tabitem active" href="">今天</a>
		</li>
		<li class="nav-item">
			<a class="nav-link td-tabitem" href="">昨天</a>
		</li>
	</ul>
{% endblock header %}

{% block content %}
	{% for new in news %}
		<div class="media border-bottom news-item">
			{# <img class="mr-3" src="" alt="Generic placeholder image"> #}
			<div class="media-body">
				<h5 class="mt-0">
					<a href="{{new.url}}">{{new.title}}</a>
				</h5>
				{{new.date}}
			</div>
		</div>
	{% endfor %}
{% endblock content %}